<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <div>
        <h1>Confirmation</h1>
        <h2>Do u want to Delete this Record</h2>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Yes" class="btn btn-danger">
            <a href="{% url 'show_urls' %}"><button type="button" class="btn btn-warning ">No</button></a>
           

        </form>
    </div>
</body>
</html>